.body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   
}
.user-info{
    position: absolute;
    left: 22%;
    top:5%;
    color: #00900b;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.add-payment{
    position: absolute;
    top:5%;
    right: 5%;
    border: 1.5px solid #00900B;
    border-radius: 20px;
}

.add-payment img{
    max-width: 30px;
    max-height: 30px;
    margin-left: 12px;
}
.add-payment button{
    background-color: transparent;
    color: #00900B;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:12px;
    border: 1.5px solid transparent;
    border-radius: 20px;
}
.empty{
    position: absolute;
    top:20%;
    left: 30%;
}

table{
    max-width:70%;
    position: absolute;
    top: 40%;
    left: 25%;
}

.logout button{
    background-color: white;
    color: #00900B;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:12px;
    border: 1.5px solid transparent;
    border-radius: 20px;
}
.nav-bar{
    background-color: #00900B;
    max-height: 10%;
    width: 80%;
}

.input-group{
    position: absolute;
    left: 68%;
    top:25%;
    display: flex;
    justify-content: space-between;
    margin: 8px;
}